<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BoletoEditDlg" widgetVar="BoletoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBoletoTitle}">
            <h:form id="BoletoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{boletoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBoletoLabel_idBoleto}" for="idBoleto" />
                        <p:inputText id="idBoleto" value="#{boletoController.selected.idBoleto}" title="#{bundle.EditBoletoTitle_idBoleto}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_idBoleto}"/>
                        <p:outputLabel value="#{bundle.EditBoletoLabel_noAsiento}" for="noAsiento" />
                        <p:inputText id="noAsiento" value="#{boletoController.selected.noAsiento}" title="#{bundle.EditBoletoTitle_noAsiento}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_noAsiento}"/>
                        <p:outputLabel value="#{bundle.EditBoletoLabel_costo}" for="costo" />
                        <p:inputText id="costo" value="#{boletoController.selected.costo}" title="#{bundle.EditBoletoTitle_costo}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_costo}"/>
                        <p:outputLabel value="#{bundle.EditBoletoLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{boletoController.selected.estado}" title="#{bundle.EditBoletoTitle_estado}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_estado}"/>
                        <p:outputLabel value="#{bundle.EditBoletoLabel_idEspectaculo}" for="idEspectaculo" />
                        <p:selectOneMenu id="idEspectaculo" value="#{boletoController.selected.idEspectaculo}" required="true" requiredMessage="#{bundle.EditBoletoRequiredMessage_idEspectaculo}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{espectaculoController.itemsAvailableSelectOne}"
                                           var="idEspectaculoItem"
                                           itemValue="#{idEspectaculoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{boletoController.update}" value="#{bundle.Save}" update="display,:BoletoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BoletoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BoletoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
