<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EspectaculoEditDlg" widgetVar="EspectaculoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEspectaculoTitle}">
            <h:form id="EspectaculoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{espectaculoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEspectaculoLabel_idEspectaculo}" for="idEspectaculo" />
                        <p:inputText id="idEspectaculo" value="#{espectaculoController.selected.idEspectaculo}" title="#{bundle.EditEspectaculoTitle_idEspectaculo}" required="true" requiredMessage="#{bundle.EditEspectaculoRequiredMessage_idEspectaculo}"/>
                        <p:outputLabel value="#{bundle.EditEspectaculoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{espectaculoController.selected.nombre}" title="#{bundle.EditEspectaculoTitle_nombre}" required="true" requiredMessage="#{bundle.EditEspectaculoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditEspectaculoLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{espectaculoController.selected.precio}" title="#{bundle.EditEspectaculoTitle_precio}" required="true" requiredMessage="#{bundle.EditEspectaculoRequiredMessage_precio}"/>
                        <p:outputLabel value="#{bundle.EditEspectaculoLabel_fechahora}" for="fechahora" />
                        <p:calendar id="fechahora" pattern="MM/dd/yyyy" value="#{espectaculoController.selected.fechahora}" title="#{bundle.EditEspectaculoTitle_fechahora}" required="true" requiredMessage="#{bundle.EditEspectaculoRequiredMessage_fechahora}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditEspectaculoLabel_idSalon}" for="idSalon" />
                        <p:selectOneMenu id="idSalon" value="#{espectaculoController.selected.idSalon}" required="true" requiredMessage="#{bundle.EditEspectaculoRequiredMessage_idSalon}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{localidadesController.itemsAvailableSelectOne}"
                                           var="idSalonItem"
                                           itemValue="#{idSalonItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{espectaculoController.update}" value="#{bundle.Save}" update="display,:EspectaculoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EspectaculoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EspectaculoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
