<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListEspectaculoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="EspectaculoListForm">
                <p:panel header="#{bundle.ListEspectaculoTitle}">
                    <p:dataTable id="datalist" value="#{espectaculoController.items}" var="item"
                                 selectionMode="single" selection="#{espectaculoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idEspectaculo}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEspectaculoTitle_idEspectaculo}"/>
                            </f:facet>
                            <h:outputText value="#{item.idEspectaculo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEspectaculoTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEspectaculoTitle_precio}"/>
                            </f:facet>
                            <h:outputText value="#{item.precio}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEspectaculoTitle_fechahora}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechahora}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEspectaculoTitle_idSalon}"/>
                            </f:facet>
                            <h:outputText value="#{item.idSalon}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{espectaculoController.prepareCreate}" update=":EspectaculoCreateForm" oncomplete="PF('EspectaculoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":EspectaculoViewForm" oncomplete="PF('EspectaculoViewDialog').show()" disabled="#{empty espectaculoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":EspectaculoEditForm" oncomplete="PF('EspectaculoEditDialog').show()" disabled="#{empty espectaculoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{espectaculoController.destroy}" update=":growl,datalist" disabled="#{empty espectaculoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
