<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EspectaculoViewDlg" widgetVar="EspectaculoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEspectaculoTitle}">
            <h:form id="EspectaculoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{espectaculoController.selected != null}">
                        <h:outputText value="#{bundle.ViewEspectaculoLabel_idEspectaculo}"/>
                        <h:outputText value="#{espectaculoController.selected.idEspectaculo}" title="#{bundle.ViewEspectaculoTitle_idEspectaculo}"/>
                        <h:outputText value="#{bundle.ViewEspectaculoLabel_nombre}"/>
                        <h:outputText value="#{espectaculoController.selected.nombre}" title="#{bundle.ViewEspectaculoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewEspectaculoLabel_precio}"/>
                        <h:outputText value="#{espectaculoController.selected.precio}" title="#{bundle.ViewEspectaculoTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewEspectaculoLabel_fechahora}"/>
                        <h:outputText value="#{espectaculoController.selected.fechahora}" title="#{bundle.ViewEspectaculoTitle_fechahora}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewEspectaculoLabel_idSalon}"/>
                        <h:outputText value="#{espectaculoController.selected.idSalon}" title="#{bundle.ViewEspectaculoTitle_idSalon}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EspectaculoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
