<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LocalidadesEditDlg" widgetVar="LocalidadesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditLocalidadesTitle}">
            <h:form id="LocalidadesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{localidadesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditLocalidadesLabel_idSalon}" for="idSalon" />
                        <p:inputText id="idSalon" value="#{localidadesController.selected.idSalon}" title="#{bundle.EditLocalidadesTitle_idSalon}" required="true" requiredMessage="#{bundle.EditLocalidadesRequiredMessage_idSalon}"/>
                        <p:outputLabel value="#{bundle.EditLocalidadesLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{localidadesController.selected.nombre}" title="#{bundle.EditLocalidadesTitle_nombre}" required="true" requiredMessage="#{bundle.EditLocalidadesRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditLocalidadesLabel_lugar}" for="lugar" />
                        <p:inputText id="lugar" value="#{localidadesController.selected.lugar}" title="#{bundle.EditLocalidadesTitle_lugar}" required="true" requiredMessage="#{bundle.EditLocalidadesRequiredMessage_lugar}"/>
                        <p:outputLabel value="#{bundle.EditLocalidadesLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{localidadesController.selected.idCategoria}" required="true" requiredMessage="#{bundle.EditLocalidadesRequiredMessage_idCategoria}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriaController.itemsAvailableSelectOne}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{localidadesController.update}" value="#{bundle.Save}" update="display,:LocalidadesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'LocalidadesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="LocalidadesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
